<div class="item-container" ng-repeat="item in tileGrid.itemsList">
    <div ng-if="::item.summarizeVisible"
         ng-click="tileGrid.summarize(item)"
         class="summarize-action">
        <i class="fa fa-filter"></i>
    </div>
    <div ng-if="::item.image" class="pull-left image-container">
        <img ng-src="{{ ::item.image }}" />
    </div>
    <div class="col-xs-12 pull-left text-container">
        <div class="title">
            <a ng-bind="::item.title" ng-href="{{ ::item.url }}"></a>
        </div>
        <div class="short-info">
            <p ng-bind-html="::item.infoHtml"></p>
        </div>
    </div>
    <div class="col-xs-12 item-footer">
        <div class="date-container">
            <span ng-bind="::item.dateTime"></span>
        </div>
        <div class="provider-container">
            <span ng-bind="::item.provider"></span>
        </div>
    </div>
</div>