<search-header on-search="onSearchValueChange"></search-header>
<tile-grid items-list="newsList" summarize="summarize"></tile-grid>
<div class="commands-palette">
    <button class="toggle" ng-click="commandsPalette = !commandsPalette">
        <i class="fa fa-bars"></i>
    </button>
    <div ng-if="commandsPalette">
        <button class="action filter-top-stories" ng-click="filterTopStories()">
            <i class="fa fa-newspaper-o"></i>
        </button>
        <button class="action read-top-stories" ng-click="readTopStories()">
            <i class="fa fa-volume-up"></i>
        </button>
        <button class="action voice-command" ng-click="readBriefing()">
            <i class="fa fa-cogs"></i>
        </button>
    </div>
</div>
